:root {
	--scrollbar-border-color: #ffffff;
}

@media only screen and (min-width: 768px) {
	::-webkit-scrollbar {
		width: 1rem;
		height: 1rem;
	}

	::-webkit-scrollbar-track {
		background: 0 0;
	}

	::-webkit-scrollbar-thumb {
		background: hsla(0, 0%, 50%, 0.25);
		border-radius: 1rem;
		border: 0.25rem solid var(--scrollbar-border-color);
	}

	::-webkit-scrollbar-thumb:hover {
		background: hsla(0, 0%, 50%, 0.5);
	}
}
