@media only screen and (min-width: 768px) {
  ::-webkit-scrollbar {
    width: .6rem;
    height: .6rem;
  }

  ::-webkit-scrollbar-track {
    background: 0 0;
  }

  ::-webkit-scrollbar-thumb {
    background: hsl(240, 0%, 25%);
    border-radius: 1rem;
    /* border: 0.25rem solid transparent; */
  }

  ::-webkit-scrollbar-thumb:hover {
    background: hsl(240, 0%, 35%);
  }
}